
/*** CONTAINER ***/

.practices, .dashboard, .contact-section {
    position:relative;
    margin: 4em 0px; 
    /*min-height:500px;*/
    /*min-width: 768px;*/
}

.container-fluid{
    margin-right: auto;
    margin-left: auto;
    width: auto!important;  
    padding: 0;
    /*min-width: 768px;*/
    /*max-width: 1240px;*/
    position: relative;
}

/*** Buttons ***/
.add-new {
  font-size: 1.15em;
  letter-spacing: 5px;
  background: none;
  border: 2px solid #A6E22E;
  color: #A6E22E;
  border-radius: 0%;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.add-new:hover {
  background: #677787;
  border: 2px solid #677787;
  color: white;
  border-radius: 0%;
  text-transform: uppercase;
}

.btn {
  height: auto;
}

/*** NAVIGATION HEADER ***/

.top-bar {
  margin: 15px 0px;
}

.top-bar img {
  width: auto;
  max-width: 20em;
  height: auto;
  max-height: 12em;
}

.navigation-links {
  position: fixed;
  padding: 0px 3em;
  color: #323d48;
  background-color: #A6E22E;
  border: 2px solid #A6E22E;
  z-index: 100;
  font-family: "JosefinSans-Bold";
}

.navigation-links li a {
  font-size: 1.15em;
  letter-spacing: 5px;
  color: inherit;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation-links:hover {
  background-color: #677787;
  border: 2px solid #677787;
  color: white;
}


/*** HOME (BANNER) ***/
.banner-picture { 
  background: url("underwater-swimmer-1.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 825px;
  width: 100%;
}

.banner-body {
  position: relative;
  width: auto;
  height: auto;
}

.banner-heading {
  position: absolute;
  top: 14em;
  color: white;
  font-family: "JosefinSans-Thin";
  text-transform: uppercase;
}

.banner-heading h1 {
  margin: 0px;
  font-size: 3em;
  letter-spacing: 10px;
  margin-bottom: 30px;
}

.banner-body .add-new {
  width: 40%;
}

/*** DASHBOARD ***/
.dashboard-shot {
  width: 100%;
}

.tagline {
  font-size: 3.5em;
}

/*** PRACTICES ***/
.practice-shot {
  width: 100%;
}


/*** DEMO ***/
a.demo {
  text-decoration: none;
  text-transform: uppercase;
  font-size: .6em;
  color: #26a69a;
}

/*** UPLOAD-HISTORY ***/
.upload-history-shot {
  width: 100%;
}


/*** SIGN-UP ***/
.sign-up-picture { 
  background: url("bottom-t.png") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

.sign-up {
  background-color: #3a4754;
  text-align: center;
  color: white;
  font-family: "JosefinSans-Thin";
  height: 450px;
}

.sign-up h2 {
  font-size: 2.5em;
  letter-spacing: 8px;
  margin-top: 1.5em;
  margin-bottom: 1.25em;
  text-transform: uppercase;
}

.sign-up p {
  text-align: center;
  font-size: 1.75em;
  letter-spacing: 2px;
  width: 65%;
  margin:auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.sign-up .add-new {
  width: 40%;
}

/*** CONTACT SECTION ***/

.contact-section {
  text-align: center;
}

.contact-tagline {
  font-size: 2em;

}

.contact-tagline span {
  font-size: 1.3em;
  font-weight: bold;
}

.contact-section .add-new {
  border: 2px solid #26a69a;
  color: #26a69a;
  width: 100%;
}

.contact-section .add-new:hover,
.contact-section .add-new:active,
.contact-section .add-new:focus {
  border: 2px solid #677787;
  color: white;
  width: 100%;
}

.contact-section input {
  font-size: 1.25em;
}

/*** FOOTER SECTION ***/

.footer {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
}

.footer .social-icon span {
  color: #677787; 
  margin: 0px 20px;
}

.footer .social-icon span:hover {
  color: #26a69a;
}

/*** LEGAL ***/

.legal {
  margin: 15px 0px;
  text-align: center;
}

.legal > span {
  padding: 10px;
}

.legal a {
  color: #677787;
}


/**************************** FIRST RESPONSIVE BREAK ****************************/

@media (max-width: 1024px) {
.banner-picture { 
  background: url("underwater-swimmer-2.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
  width: 100%;
}

.banner-heading {
  top: 7em;
}

.banner-body .add-new {
  width: 50%;
}

.sign-up .add-new {
  width: 55%;
}

.banner-heading h1 {
  font-size: 2em;
  line-height: 1.75em;
}

.tagline {
  font-size: 2.5em;
}

.sign-up h2 {
  font-size: 1.5em;
  line-height: 2.5em;
  line-height: 1.75em;
}

.sign-up p {
  width: 80%;
  font-size: 1.25em;
}

.email-us {
  font-size: .9em;
}

.contact-tagline {
  font-size: 1.75em;
}

}

/**************************** SECOND RESPONSIVE BREAK ****************************/

@media (max-width: 635px) {
.top-bar img {
  width: auto;
  max-width: 18em;
}

.navigation-links {
  font-size: .75em;
  padding: 0px 10px;
  height: 35px;
}

.banner-picture { 
  background: url("underwater-swimmer-3.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
  width: 100%;
}

.banner-heading {
  top: 5em;
}

.banner-body .add-new {
  font-size: .9em;
}

.banner-heading h1 {
  font-size: 1.25em;
  line-height: 2em;
  letter-spacing: 5px;
}

.sign-up .add-new {
  width: 90%;
}

.tagline {
  font-size: 1.7em;
}

a.demo {
  font-size: .75em;
}

.sign-up h2 {
  font-size: 1.25em;
  line-height: 2em;
}

.sign-up p {
  width: 90%;
  font-size: 1.25em;
}

.contact-tagline {
  font-size: 1.3em;
}

.email-us {
  line-height: 0px;
  font-size: .8em;
}

.footer {
  font-size: 1.5em;
}

.legal > span {
  font-size: .9em;
}


}