/************** 
    very dark:#2e353c; hover: #3f4952; <-- not in use anymore
    dark: #323d48 hover: #3a4754
    logo gray: #677787;
    very light (hover) #d9e3ee;
    clouds: #ecf0f1;
    white: whitesmoke;
    accent: #a6e22e; & #26a69a ....light-blue: #29ace4  
 **************/

/* CSS declarations go here */
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "JosefinSans-Regular";
  background-color: #ecf0f1;
  color: #677787;
}

/*** Input Boxes ***/

input[type=text], input[type=password],
input[type=email], input[type=url],
input[type=date], input[type=tel],
input[type=number], input[type=search],
textarea.materialize-textarea {
  /*border-bottom: 1px solid transparent;*/ 
}