/************** 
    very dark:#2e353c; hover: #3f4952;
    dark:#3a4754;
    logo gray: #677787;
    very light #d9e3ee;
    clouds: #ecf0f1;
    white: whitesmoke;
    accent: #a6e22e; & #26a69a ....light-blue: #29ace4 
 **************/

/* CSS declarations go here */
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "JosefinSans-Regular";
  background-color: #ecf0f1;
  color: #677787;
}

/*** Buttons ***/
.add-new {
  font-size: 1.1em;
  letter-spacing: 5px;
  background: none;
  border: 2px solid #A6E22E;
  color: #A6E22E;
  border-radius: 0%;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.add-new:hover {
  background: #677787;
  border: 2px solid #677787;
  color: white;
  border-radius: 0%;
  text-transform: uppercase;
}

/*** Input Boxes ***/

input[type=text], input[type=password],
input[type=email], input[type=url],
input[type=date], input[type=tel],
input[type=number], input[type=search],
textarea.materialize-textarea {
  /*border-bottom: 1px solid transparent;*/ 
}